<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appnew">

    <!-- Berechtigungen -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ChatApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNew">

        <!-- MainActivity (Standard: Simulation) -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PresentationActivity -->
        <activity
            android:name=".view.PresentationActivity"
            android:exported="true"
            tools:ignore="Instantiatable">
            <!-- Keine Standard-Launcher-Intents -->
        </activity>

        <!-- Andere Aktivitäten -->
        <activity
            android:name=".view.DeviceListActivity"
            android:exported="true">
            <intent-filter>
                <!-- Intent-Filter hinzufügen für spezifische Zwecke -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ChatListActivity" />
        <activity android:name=".view.IncomingRequestActivity" />
        <activity android:name=".view.ChatDetailActivity" />
        <activity android:name=".view.MapActivity" />

    </application>
</manifest>